<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"    content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author"      content="Daichi Miyajima">
    <meta property="og:title" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <title>Guide</title>
    <link rel="canonical" href="http://guide.com" />
    <link rel="shortcut icon" href="">
    <script type="text/javascript" src="ext/scriptsLoader.js"></script>
    <script>Loader.header();</script>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link rel="stylesheet" href="../public/css/main.css">
</head>

<body>
    <script>Loader.body();</script>
    <div id="header">
        <ul id="login">
            <li class="login facebook"><a href="#facebook" title="facebook" target="_self">facebook</a></li>
            <li class="login twitter"><a href="#twitter" title="twitter" target="_self">twitter</a></li>
        </ul>
    </div>
    <div id="candy_guide">
        <P>Candy_guide</p>
        <section class="container-full">
            <div id="map"></div>
        </section>
    </div>
</body>
</html>

