<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="author"      content="Daichi Miyajima">
	<meta property="og:title" content="" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="" />
	<meta property="og:image" content="" />
	<meta property="og:site_name" content="" />
	<meta property="og:description" content="" />
	<title>Guide</title>
	<link rel="canonical" href="http://moonart-craft.com/work" />
	<link rel="shortcut icon" href="../public/image/moonart_marriageRing.png">
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="../public/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="../public/stylesheets/style.css">
	<link rel="alternate" media="handheld" href="" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="../public/assets/css/bootstrap-theme.css" media="screen" >
	<link rel="stylesheet" href="../public/assets/css/main.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<!-- firebase url -->
	<script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-75313503-1', 'auto');
		ga('send', 'pageview');
	</script>
</head>
<body class="container-full">
		<section class="container-full">
			<div id="map"></div>
		</section>

	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="../public/assets/js/headroom.min.js"></script>
	<script src="../public/assets/js/jQuery.headroom.min.js"></script>
	<script src="../public/assets/js/template.js"></script>
	<!-- Google Maps -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCO32axBK69PMVZMgs_oPjKMltoQa4pKI4"></script> 
	<script src="../public/assets/js/google-map.js"></script>

</body>
</html>
