<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Guide</title>
	<!-- CSS  -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
	<!-- Google Maps -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCO32axBK69PMVZMgs_oPjKMltoQa4pKI4"></script>
	<script src="../public/js/authentication.js"></script>
</head>
<body>
	<input type="button" value="facebook" onclick="facebook_login()">
	<input type="button" value="twitter" onclick="twitter_login()">
</body>
</html>
